<h2 style="text-align: center;">Liste des postes</h2>
<h1 *ngIf="tabPost?.length===0" class="d-flex vh-100 align-items-center justify-content-center">No data to preview!
    <button routerLink="/add" class="btn btn-primary ms-3">Add Post</button>
</h1>
<table *ngIf="tabPost?.length >0" class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Titre</th>
            <th scope="col">Description</th>
            <th scope="col">Categorie</th>
            <th scope="col">Date</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let post of tabPost">
            <th scope="row">{{post.titre}}</th>
            <td>{{post.description}}</td>
            <td>{{post.categorie}}</td>
            <td>{{post.createdAt}}</td>
            <td>
                <button class="btn btn-success me-2" (click)="modifier(post)">Modifier</button>
                <button class="btn btn-danger" (click)="supp(post)">Supprimer</button>
            </td>
        </tr>

    </tbody>
</table>