<h1 style="text-align: center;">QCM test</h1>
<ol class="list-group list-group-numbered">
    <li class="list-group-item">ng generate</li>
    <li class="list-group-item">Les doubles accolades {{''}}</li>
    <li class="list-group-item">(click)</li>
    <li class="list-group-item">
        (en commentaire) <!-- <button [disabled]="!authenticated"></button> -->
    </li>
    <li class="list-group-item">@Input() firstName: string;</li>
    <li class="list-group-item">myCondition = true;</li>
    <li class="list-group-item">
        (en commentaire) <!-- <app-draw *ngFor="let drawing of drawings"></app-draw> -->
    </li>
    <li class="list-group-item">true</li>
    <li class="list-group-item">OPENSERVERS</li>
    <li class="list-group-item">ng new MY-PROJECT</li>
    <li class="list-group-item">cd MY-PROJECT</li>
    <li class="list-group-item">*ngFor *ngIf [ngSwitch] [ngStyle] </li>
    <li class="list-group-item">false false true true</li>
    <li class="list-group-item">liaison de propriété pour lier la propriété 'task' de l'enfant à la propriété
        'task' du parent</li>
    <li class="list-group-item">
        (en commentaire) <!-- Le type de retour de cet appel est `Observable<string[]> -->

    </li>
    <li class="list-group-item">L'utilité du répertoire node_modules est de fournir un moyen organisé et centralisé de
        gérer les dépendances de votre projet.
        Les modules contenus dans ce répertoire sont utilisés par votre application lors de l'exécution pour accéder à
        des fonctionnalités spécifiques. Le répertoire node_modules permet également de gérer les différentes versions
        des packages installés, afin que vous puissiez spécifier les dépendances exactes requises par votre projet. <br>

        L'utilité principale du fichier package.json est de fournir une liste détaillée des dépendances du projet,
        c'est-à-dire les packages externes nécessaires à son bon fonctionnement. Ces dépendances peuvent être des
        bibliothèques, des frameworks, des outils ou d'autres modules qui sont utilisés dans l'application.</li>
    <li class="list-group-item">L'utilité principale des fichiers .spec.ts est de définir des cas de tests qui vérifient
        le comportement attendu d'une partie spécifique du code Angular. Ces tests permettent de s'assurer que les
        fonctionnalités fonctionnent correctement, de détecter les erreurs et les régressions, et de maintenir la
        qualité du code tout au long du développement.</li>
    <li class="list-group-item">true false false false</li>
    <li class="list-group-item">pour naviguer impérativement vers le composant dashboard</li>
    <li class="list-group-item">false true</li>
</ol>